<h1 class="mt-4">Authorize App</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<p class="lead mb-3">Room1 actions :</p>
<ul>
    <li> Open :  <%= room1_open %> </li>
    <li>Check Availability : <%= room1_Check %> </li>
</ul>
<p class="lead mb-3">Room2 actions :</p>
<ul>
    <li> Open :  <%= room2_open %> </li>
    <li>Check Availability : <%= room2_Check %> </li>
</ul>

<p class="mb-3">Get the Access Token to get the Protected Data</p>

<a href="<%= callback_url %>" class="btn btn-warning">Accept</a>
<a href="/users/logout" class="btn btn-secondary">Decline</a>
